$editorFg: #333;
$editorBg: #fff;
$editorPaper: #f5f5f5;
$editorGray: #888;
$editorAccent: #2196F3;
$editorBgInvariant: #dedede;

// Mixins
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Classes
.shadow {
  &-l1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
  }

  &-l2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
      0 3px 6px rgba(0, 0, 0, 0.23);
  }

  &-l3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23);
  }

  &-l4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
      0 10px 10px rgba(0, 0, 0, 0.22);
  }
}